<a href="https://colab.research.google.com/github/HareeshwarKarthikeyan/Strong-Language-Hate-Speech-Filter/blob/Hareeshwar-Karthikeyan/FinalDataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import files

In [3]:
df = pd.read_csv('data_test_clean.csv')
df.head()

   Unnamed: 0                id  ... insult  identity_hate
0      119105  7ca72b5b9c688e9e  ...      0              0
1      131631  c03f72fd8f8bf54f  ...      0              0
2      125326  9e5b8e8fc1ff2e84  ...      0              0
3      111256  5332799e706665a6  ...      0              0
4       83590  dfa7d8f0b4366680  ...      0              0

[5 rows x 9 columns]

In [0]:
df = df.rename(columns={'clean_comment': 'message'})
df = df.drop('id',axis = 1)
df = df.drop('Unnamed: 0',axis = 1)

In [0]:
df = df.drop('severe_toxic',axis = 1)
df = df.drop(df[df.threat == 1].index)
df = df.drop('threat',axis = 1)
df = df.drop(df[df.identity_hate == 1].index)
df = df.drop('identity_hate',axis = 1)
from sklearn.utils import shuffle
df = shuffle(df)
df['racism'] = 0
df['sexism'] = 0

In [8]:
df.head()

                                                 message  toxic  ...  racism  sexism
16624  b' april please stop if you continue to add pr...      0  ...       0       0
33473  b'it is no secret that the catholic church is ...      0  ...       0       0
1595   b'why can not you get yourself a girl are you ...      0  ...       0       0
30547  b'hello everyone i am doing this topic too and...      0  ...       0       0
14203  b' shouted down and mislaid amongst hyperaggre...      0  ...       0       0

[5 rows x 6 columns]